<page-title >
    Titulo de Pagina
</page-title>
<primary-fab class="md-tall ng-scope">
    <button class="md-fab md-button" type="button">
        <md-icon md-svg-src="navigation:arrow_back"></md-icon>
    </button>
</primary-fab>
<!-- LINEAR PROGRESS -->
<md-content>
    <md-progress-linear ng-show="!model" md-mode="indeterminate" class="md-primary">
    </md-progress-linear>
    <div layout-padding>

    </div>
</md-content>
