<gale-page class="emisor transmission online" layout-fill>
    <!-- MAIN TOOLBAR -->
    <md-toolbar class="md-whiteframe-z1 md-tall">
        <div class="md-toolbar-tools">
            <h2>
                <span>{{config.application.name}}</span>
            </h2>
            <span flex></span>
        </div>
    </md-toolbar>

    <!-- AVATAR -->
    <event-avatar>

        <!-- DATE PICKER -->
        <div class="md-primary background date" layout="column">

            <div class="day" flex="initial">
                Mi camara
            </div>

            <div flex layout="column" layout-align="center center" layout-fill>
                <div class="day">
                    <div id="local-media"></div>
                </div>
            </div>

        </div>
        <md-button class="md-primary md-raised md-button md-ink-ripple" ng-click="testingMedia();"> Previsualizar mi camara </md-button>
    </event-avatar>

    <!-- WHITE BOX -->
    <div class="column">
        <event-content class="md-whiteframe-z2" ng-class="{'show-settings': showAdvancedSettings}">

            <event-header>
                <div>
                    <h1 class="md-primary text">
                        <span>Panelistas  {{model.panelists.length}} de 12</span>
                        <md-button ng-show="!model.event" class="md-raised md-primary" style="float:right;" ng-click="online()">Iniciar Transmision</md-button>
                        <md-button ng-show="model.event" class="md-raised md-primary" style="float:right;" ng-click="offline()">Detener Transmision</md-button>
                    </h1>
                </div>
            </event-header>

            <event-body>

                <div layout="row" layout-padding layout-wrap layout-fill ng-cloak>
                    <md-whiteframe class="md-whiteframe-2dp" layout-align="center center" ng-repeat="(key, value) in model.panelists" style="margin-right: 10px; margin-top: 10px; width: 190px;">
                            <img ng-src="{{value.picture}}" />
                            <center>
                                <p>{{value.name}}</p>
                                <md-button ng-show="value.request_word" class="md-raised md-primary">Dar la palabra</md-button>
                            </center>
                    </div>

                </div>
            </event-body>

        </event-content>

    </div>

</gale-page>
