<ion-view class="home" title="Inicio">

    <ion-content>
      <!-- Stat's -->
      <div class="row period-selector">
        <div class="buttons-toggle left-buttons">
          <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        </div>
        <div class="col">
          <div>
            Bienvenido a la aplicacion demo de streaming
          </div>
        </div>
      </div>
      <div class="row">
          <div id="remote-media"></div>
      </div>
      <div class="row">
        <div id="local-media" class="col"></div>
      </div>
    </ion-content>

</ion-view>
