div#remote-media {
    background: transparent;
    width: 400px;
    height: 300px;
}

div#remote-media video {
    background: #ddd;
    width: 400px;
    height: 300px;
}

div#controls {
    padding: 3em;
    max-width: 1200px;
    margin: 0 auto
}

div#local-media {
    background: transparent;
    /* position: absolute; */
    /* right: 10px; */
    bottom: 14%;
    width: 100px;
    height: 100px;
}

div#local-media video {
    /* background: #ddd; */
    /*position: absolute;*/
    /* right: 10px; */
    height: 100%;
    margin-right: 1em;
}



div#controls div#token textarea {
    width: 256px;
    height: 204px;
    background: 0 0;
    overflow: hidden;
    resize: none;
    padding: 1.25em;
    color: #fff
}

/*-------------------------
    IONIC OVERRIDES
-------------------------*/

* {
  font-family: robotoDraft;
}
.no-padding {
  padding: 0px;
}
.col-offset-5 {
  margin-left: 5%;
}
.box-shadow-3dp, ion-view.pane.route.main ion-tabs popular-routes ion-content ion-item, ion-view.pane.route.main ion-tabs my-routes ion-content ion-item, ion-view.pane.route.main ion-tabs ambassadors ion-content ion-item, ion-view.pane.notifications ion-content ion-item {
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
}
.box-shadow-8dp, ion-view.pane.route .counter-button > div {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
ion-footer-bar > button.button-block[disabled], ion-view.pane.route.share div.social-share div.col.disabled > img {
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns='http://www.w3.org/2000/svg'&gt;&lt;filter id='grayscale'&gt;&lt;feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
  /* Firefox 10+, Firefox on Android */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
ion-header-bar {
  background-color: #ffc107;
  background-image: none;
}
ion-header-bar button {
  color: #fff !important;
}
ion-header-bar .title {
  margin-left: 0px;
  color: #000;
}
ion-header-bar button.notification {
  margin-top: -1px;
}
ion-header-bar span.badge {
  margin-left: 26px;
  margin-top: -16px;
  padding: 2px 7px 2px 7px;
}
.has-footer {
  bottom: 60px;
}
ion-footer-bar {
  padding: 0px;
  height: 60px;
  background-image: none;
  background: #1c1c29;
}
ion-footer-bar > button.button-block {
  text-align: center;
  color: #000;
  background: none;
  background-color: #ffc107;
  border-color: #ffc107;
  margin: 0px;
  text-transform: uppercase;
  font-size: 1.2em;
  border-radius: 0px;
}
ion-footer-bar > button.button-block > i.icon {
  color: #000;
}
ion-view.pane.route.pause ion-footer-bar > button {
  background-color: #BD0000;
  border-color: #BD0000;
  color: #fff;
  font-size: 1.3em;
  border-radius: 0px;
}
ion-view.pane.route.pause ion-footer-bar > button > div {
  margin-top: -30px;
}
ion-view.pane.route.pause ion-footer-bar > button > div > i.icon {
  padding: 13px;
  background-color: #BD0000;
  border-radius: 50%;
}
ion-view {
  background-color: #1c1c29;
}
ion-view ion-content {
  background-color: #1c1c29;
}
ion-side-menu-content {
  box-shadow: -1px 0px 63px rgba(0, 0, 0, 0.7), 1px 0px 2px rgba(0, 0, 0, 0.7);
}
ion-side-menu {
  background-color: #1c1c29;
}

/*-------------------------
SIDE BAR MENU
-------------------------*/

ion-view {
  background-color: #1c1c29;
}
ion-view ion-content {
  background-color: #1c1c29;
}
ion-side-menu-content {
  box-shadow: -1px 0px 63px rgba(0, 0, 0, 0.7), 1px 0px 2px rgba(0, 0, 0, 0.7);
}
ion-side-menu {
  background-color: #1c1c29;
  /*-------------------------
  SIDE BAR MENU
  -------------------------*/
}
ion-side-menu ion-content .profile-bubble {
  margin-top: 44px;
  padding-bottom: 1.5em;
}
ion-side-menu ion-content .profile-bubble div.marker {
  width: 7.5em;
  height: 7.5em;
}
ion-side-menu ion-content .profile-bubble div.marker > div.halo {
  border-radius: 50%;
  border: 1px solid #c0c1c2;
  width: 100%;
  height: 100%;
  padding: 5%;
}
ion-side-menu ion-content .profile-bubble div.marker > div.halo > div {
  border-radius: 50%;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: #1c1c29;
}
ion-side-menu ion-content .profile-bubble div.marker > div.halo > div > img {
  width: 100%;
}
ion-side-menu ion-content .profile-bubble div.name {
  padding-top: 0.5em;
}
ion-side-menu ion-content .profile-bubble div.description {
  color: #1C1C29;
  text-transform: uppercase;
}
ion-side-menu ion-content ion-list ion-item {
  background-color: transparent;
  border: #fff;
  color: #fff;
}
ion-side-menu ion-content ion-list ion-item.active, ion-side-menu ion-content ion-list ion-item.activated {
  background-color: #141925;
}
ion-side-menu ion-content ion-list ion-item span {
  padding-left: 0.5em;
}
ion-side-menu ion-content ion-list ion-item.active {
  border-left: 5px solid #ffc107;
}
ion-side-menu ion-content ion-list ion-item.active a.item-content {
  background-color: #141925;
  padding-left: 10px;
}
ion-side-menu ion-footer-bar {
  text-align: right;
  color: #fff;
  background: none;
  background: none;
  padding: 15px 0px 0px 10px;
  opacity: 0.5;
}
ion-view.pane.security.login {
  background-color: #1c1c29;
  /*background-image: url(images/backgrounds/background-1.png);*/
  /*background-size: 100%;*/
}
ion-view.pane.security.login div.title {
  font-size: 3em;
  padding-top: 2em;
  text-align: center;
  line-height: 1em;
  color: #ffc107;
}
ion-view.pane.security.login div.legend {
  font-size: 1em;
  opacity: 0.8;
  text-align: center;
  line-height: 2em;
  color: #ffc107;
}
ion-view.pane.security.login div.buttons {
  position: fixed;
  bottom: 2.5em;
  right: 0.7em;
  left: 0.7em;
}
ion-view.pane.security.login div.inputs {
  position: fixed;
  bottom: 7.5em;
  right: 0.7em;
  left: 0.7em;
}
ion-view.pane.security.login div.buttons > button {
  border: none;
  border-radius: 4px;
  color: #fff;
  text-align: left;
}
ion-view.pane.security.login div.buttons > button > i {
  padding-left: 20px;
  padding-right: 20px;
}
ion-view.pane.security.login div.buttons > button > span {
  font-size: 0.8em;
  text-transform: uppercase;
}
ion-view.pane.security.login div.buttons > button.facebook {
  background-color: #3B5998;
}
ion-view.pane.security.login div.buttons > button.google {
  background-color: #006599;
}
ion-view.pane.security.login div.buttons > button.google > i {
  padding-right: 18px;
}
.title {
  margin-left: 0px;
}
.legend {
  margin-left: 0px;
}
div.title {
  font-size: 3em;
  padding-top: 2em;
  text-align: center;
  line-height: 1em;
}
div.legend {
  font-size: 1em;
  opacity: 0.8;
  text-align: center;
  line-height: 2em;
}
div.buttons {
  position: fixed;
  bottom: 2.5em;
  right: 0.7em;
  left: 0.7em;
}
ion-view.pane.home ion-content div.marker > div.halo {
  padding: 10%;
  background: #1c1c29;
}
ion-view.pane.home ion-content div.marker > div.halo > img {
  width: 10em;
}
ion-view.pane.home .period-selector {
  margin-top: 1em;
  opacity: 0.8;
}
ion-view.pane.home .period-selector > div {
  background: linear-gradient(to bottom, #2a2a3b 0%, #1c1c29 100%);
  /*margin-left: 15%;
  margin-right: 15%;*/
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #141925;
}
ion-view.pane.home .period-selector > div > div {
  text-transform: uppercase;
  color: #ffc107;
  text-align: center;
}
ion-view.pane.home .kpi {
  text-align: center;
  padding-top: 2em;
}
ion-view.pane.home .kpi .value {
  font-weight: bold;
  color: #ffc107;
  line-height: 1em;
  font-size: 2.6em;
  display: flex;
  justify-content: center;
}
ion-view.pane.home .kpi .value .icon {
  font-size: 0.7em;
  padding-right: 7px;
}
ion-view.pane.home .kpi .label {
  text-transform: uppercase;
  font-size: 0.8em;
  color: #ffc107;
}
ion-view.pane.home .information {
  text-align: center;
  padding-top: 2em;
}
ion-view.pane.home .information .label {
  text-transform: uppercase;
  font-size: 0.8em;
  color: #ffc107;
}
ion-view.pane.home.ion-list .item-list {
  text-align: center;
  padding-top: 2em;
}
ion-view.pane.home .information .paragraph {
  font-size: 1em;
  color: #CAC8C2;
}
ion-view.pane.home .kpi.big {
  padding-top: 1em;
}
ion-view.pane.home .kpi.big .value {
  font-size: 5em;
  line-height: 1.1em;
}
ion-view.pane.home .kpi.big .label {
  text-transform: uppercase;
  font-size: 1.2em;
  color: #ffc107;
}

ion-view.pane.home .kpi.big .label-title-campaing {
    text-transform: uppercase;
    font-size: 0.5em;
    color: #131313;
}

ion-view.pane.home div.buttons {
  position: fixed;
  bottom: -4.5em;
}
ion-view.pane.home div.buttons > button {
  border: none;
  border-radius: 10px;
  color: #B68B12;
  text-align: center;
}
div.buttons-toggle > button {
  border: none;
  border-radius: 10px;
  color: #B68B12;
  text-align: center;
}
ion-view.pane.home div.buttons-more {
  margin-left: 15%;
  margin-right: 15%;
}
ion-view.pane.home div.buttons-more > button {
  border: none;
  border-radius: 10px;
  color: #B68B12;
  text-align: center;
}
ion-view.pane.notifications ion-content {
  background: transparent;
}
ion-view.pane.notifications ion-content ion-item {
  border-radius: 2px;
  margin: 0.5em 0.5em 0em 0.5em;
  padding-bottom: 8px;
  margin-top: 0.6em;
}
ion-view.pane.notifications ion-content ion-item:first-child {
  margin-top: 1em;
}
ion-view.pane.notifications ion-content ion-item > div.information {
  min-height: 55px;
}
ion-view.pane.notifications ion-content ion-item > div.information p {
  font-size: 0.8em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.2em;
  white-space: normal;
}
ion-view.pane.notifications ion-content ion-item > div.information h2 {
  margin-right: 27px;
  font-size: 0.9em;
}
ion-view.pane.notifications ion-content ion-item > div.information preload-image:first-child {
  top: 20px;
  left: 16px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
}

/*-------------------------
  Start Route Panel View
-------------------------*/

ion-view.pane.route .period-selector {
  margin-top: 1em;
  opacity: 0.8;
}
ion-view.pane.route .period-selector > div {
  background: linear-gradient(to bottom, #2a2a3b 0%, #1c1c29 100%);
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #141925;
}
ion-view.pane.route .period-selector > div > div {
  text-transform: uppercase;
  color: #ffc107;
  text-align: center;
}
ion-view.pane.route .inputs .item-input {
  margin-bottom: 1em;
  margin-left: 5%;
  margin-right: 5%;
}
ion-view.pane.route .inputs .item-input >select {
  width: 20em;
  height: 3em;
}
ion-view.pane.route .inputs .label {
  text-transform: uppercase;
  font-size: 1em;
  color: #ffc107;
  text-align: center;
}
ion-view.pane.route ion-content div.marker > div.halo {
  border: 1px solid #c0c1c2;
  width: 100%;
  height: 100%;
  padding: 5%;
}
ion-view.pane.route ion-content div.marker > div.halo > div {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  margin-left: 0.5em;
  background: #1c1c29;
}
ion-view.pane.route ion-content div.marker > div.halo > div > a > img {
  width: 45%;
  margin-right: 1em;
  margin-bottom: 1em;
}
ion-view.pane.route ion-content div.marker > div.halo > div > a > i {
  font-size: 2em;
  color: #EDB409;
  position: absolute;
  background: #191B27;
  border-radius: 15px;
}
ion-view.pane.route ion-content .images-content > .images-content-col {
  border: 1px solid #c0c1c2;
  width: 100%;
  height: 100%;
  padding: 5%;
}
ion-view.pane.route ion-content .images-content > .images-content-col {
  margin-left: 1.5em;
  margin-right: 1.5em;
}
ion-view.pane.route ion-content .images-content > .images-content-col > img {
  width: 100%;
}
ion-view.pane.route ion-content .images-content > .images-content-col > a > i {
  font-size: 3em;
  color: #EDB409;
  position: absolute;
  background: #191B27;
  border-radius: 20px;
}
ion-view.pane.route div.buttons-details > button {
  border: none;
  border-radius: 10px;
  color: #B68B12;
  text-align: center;
}
ion-view.pane.route .kpi.big .label {
  text-transform: uppercase;
  font-size: 1.2em;
  color: #ffc107;
  text-align: center;
}

/*-------------------------
  End Route Panel View
-------------------------*/


/*-------------------------
Start Activity Panel View
-------------------------*/

ion-view.pane.activity .period-selector {
  margin-top: 1em;
  opacity: 0.8;
}
ion-view.pane.activity .period-selector > div {
  background: linear-gradient(to bottom, #2a2a3b 0%, #1c1c29 100%);
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #141925;
}
ion-view.pane.activity .period-selector > div > div {
  text-transform: uppercase;
  color: #ffc107;
  text-align: center;
}
ion-view.pane.activity .inputs .item-input {
  margin-bottom: 1em;
  margin-left: 5%;
  margin-right: 5%;
}
ion-view.pane.activity .inputs .item-input >select {
  width: 20em;
  height: 3em;
}
ion-view.pane.activity .inputs .label {
  text-transform: uppercase;
  font-size: 1em;
  color: #ffc107;
  text-align: center;
}
ion-view.pane.activity ion-content .images-content > .images-content-col {
  border: 1px solid #c0c1c2;
  width: 100%;
  height: 100%;
  padding: 5%;
}
ion-view.pane.activity ion-content .images-content > .images-content-col {
  margin-left: 1.5em;
  margin-right: 1.5em;
}
ion-view.pane.activity ion-content .images-content > .images-content-col > img {
  width: 100%;
}
ion-view.pane.activity ion-content .images-content > .images-content-col > a > i {
  font-size: 3em;
  color: #EDB409;
  position: absolute;
  background: #191B27;
  border-radius: 20px;
}
ion-view.pane.activity div.buttons-details > button {
  border: none;
  border-radius: 10px;
  color: #B68B12;
  text-align: center;
}
ion-view.pane.activity .kpi.big .label {
  text-transform: uppercase;
  font-size: 1.2em;
  color: #ffc107;
  text-align: center;
}

/*-------------------------
  End Activity Panel View
-------------------------*/


/*-------------------------
  Start Custom Class
-------------------------*/
.center {
    text-align: center;
}
.item-custom {
  background-color: #F8F8F8;
  color: #1C1C29;
  border-radius: 5px;
  text-align: left;
  margin-bottom: 5px;
}
.item-custom-alert {
  border-color: #e42112;
  background-color: #f44336;
  color: #fff;
  border-radius: 5px;
  text-align: left;
  margin-bottom: 5px;
}
.item-custom-success {
  border-color: #28a54c;
  background-color: #4caf50;
  color: #fff;
  border-radius: 5px;
  text-align: left;
  margin-bottom: 5px;
}
.left {
  float: left;
}
.right {
  float: right;
}
div.buttons-details > button {
  border: none;
  border-radius: 10px;
  color: #B68B12;
  text-align: center;
}
.col-pendiente {
  padding: 5px;
  width: 100%;
  color: #fff;
  border-radius: 5px;
  border-color: #e42112;
  background-color: #f44336;
  text-align: center;
}
.col-finalizado {
  padding: 5px;
  width: 100%;
  color: #fff;
  border-radius: 5px;
  border-color: #28a54c;
  background-color: #4caf50;
  text-align: center;
}

.button-circle {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
}

.fixed-outside {
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
    height: 120px;
    text-align: center;
}
/*-------------------------
  End Custom Class
-------------------------*/
