<md-dialog aria-label="dd" class="events user view index" style="background-color: transparent;">
        <dialog-avatar-view style="top: 20%; left: 30%; right: 30%;">
               <div class="marker">
                <div class="halo">
                    <div>
                        <img src="bundles/mocks/avatar_1.png" />
                    </div>
                </div>
            </div>
            <div class="name">
                Jose Ortega Villareal
            </div>

            <!-- DATE PICKER -->
            <div class="md-primary background date" layout="column" >

                <div class="day" flex="initial">
                    Informaciòn del usuario
                    <md-button class="md-icon-button" ng-click="cancel()" style="float:right;">
                        <md-icon md-svg-src="bundles/material-icons/svg/icons/ic_close.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>

                <div flex layout="column" layout-align="center center" layout-fill>
                        <md-list style="width: 100%;">
                                <md-list-item  >
                                    <p>Profesiòn : </p>
                                    <p>Tecnico en informatica</p>
                                </md-list-item>
                                <md-list-item  >
                                    <p>Genero : </p>
                                    <p>Masculino</p>
                                </md-list-item>
                                <md-list-item  >
                                    <p>Invitaciòn Enviada : </p>
                                    <p>27-07-2016</p>
                                </md-list-item>
                                <md-list-item  >
                                    <p>Invitado a travez de : </p>
                                    <p>Facebook</p>
                                </md-list-item>
                                <md-list-item  >
                                    <p>Documento o Video :  </p>
                                    <p>[Inserte aqui video]</p>
                                </md-list-item>
                        </md-list>
                </div>

            </div>    
        </dialog-avatar-view>

</md-dialog>
