<gale-page class="admin panel" layout-fill>
    <!-- MAIN TOOLBAR -->
    <md-toolbar class="md-whiteframe-z1 md-tall">
        <div class="md-toolbar-tools">
            <h2>
                <span>{{config.application.name}}</span>
            </h2>
            <span flex></span>
        </div>
    </md-toolbar>


    <!-- WHITE BOX -->
    <div class="column">
        <admin-content class="md-whiteframe-z2">

            <admin-header>
                <div>
                    <h1 class="md-primary text">
                        <span>Mis eventos</span>
                        <md-button class="md-icon-button" ng-click="cancel()" style="float:right;">
                            <md-icon md-svg-src="bundles/material-icons/svg/icons/ic_close.svg" aria-label="Close dialog"></md-icon>
                        </md-button>
                    </h1>
                </div>
            </admin-header>

            <admin-body>

                <md-content form-content>
                    <form name="form">
                        <!-- FORM DATA -->
                        <div layout="row">
                            <md-progress-linear ng-show="model.state" md-mode="indeterminate" class="md-accent"></md-progress-linear>
                        </div>

                        <div layout="row" flex></div>
                        <md-divider></md-divider>

                        <div layout="row">
                            <div flex>
                            <gale-table items="myEvents" paginate="true">
                                <gale-column title="Nombre del evento" property="name" align="center">
                                  <gale-header>
                                    Nombre del evento 
                                  </gale-header>
                                </gale-column>
                                <gale-column title="Fecha evento" property="date" align="center">
                                  <gale-header>
                                    Fecha del evento 
                                  </gale-header>
                                </gale-column>
                                <gale-column property="panel" align="center"> 
                                  <gale-header>
                                    Cupo del panel
                                  </gale-header>
                                </gale-column>

                                <gale-column property="postulantes" align="center"> 
                                  <gale-header>
                                    Cantidad de postulantes
                                  </gale-header>
                                </gale-column>

                                <gale-column property="seleccionados" align="center"> 
                                  <gale-header>
                                    Cantidad de seleccionados
                                  </gale-header>
                                </gale-column>
                                <gale-column property="viwers" align="center"> 
                                  <gale-header>
                                    Cantidad de viwers
                                  </gale-header>
                                </gale-column>
                                <gale-column property="callcenter" align="center"> 
                                  <gale-header>
                                    Tipo de call center
                                  </gale-header>
                                </gale-column>
                                <gale-column width="10">  
                                  <gale-item>
                                    <template>
                                      <md-button aria-label="menu" class="md-button md-ink-ripple" ng-click="update()">
                                        <md-icon md-svg-icon="action:settings"></md-icon>
                                      </md-button>
                                    </template>
                                  </gale-item>
                                </gale-column>
                              </gale-table>
                            </div>
                        </div>
                    </form>
                </md-content>
            </admin-body>
        </admin-content>

    </div>

</gale-page>
