<gale-page class="events create step-1" layout-fill>
    <!-- MAIN TOOLBAR -->
    <md-toolbar class="md-whiteframe-z1 md-tall">
        <div class="md-toolbar-tools">
            <h2>
                <span></span>
            </h2>
            <span flex></span>
        </div>
    </md-toolbar>

    <!-- AVATAR -->
    <event-avatar>
        <div class="marker">
            <div class="halo">
                <div>
                    <img src="bundles/mocks/avatar_1.png" />
                </div>
            </div>
        </div>

        <!-- DATE PICKER -->
        <div ng-if="model.event.date" ng-click="showCalendar($event, model.event.date);" class="md-primary background date" layout="column">

            <div class="day" flex="initial">
                {{model.event.date | amDateFormat: 'YYYY'}}
            </div>

            <div flex layout="column" layout-align="center center" layout-fill>
                <div class="month">
                    {{model.event.date | amDateFormat: 'dddd'}}
                </div>
                <div class="day">
                    {{model.event.date | amDateFormat: 'D'}}
                </div>
                <div class="year">
                    {{model.event.date | amDateFormat: 'MMMM'}}
                </div>
            </div>

        </div>
    </event-avatar>

    <!-- WHITE BOX -->
    <div class="column">
        <event-content class="md-whiteframe-z2">

            <event-header>
                <div>
                    <h2 class="md-primary text">
                       Detalles Ingeneria en minas un universo nuevo {{model.event.date | amDateFormat: 'D-M-YYYY'}} : 16:00 horas
                    </h2>
                </div>
            </event-header>

            <event-body>

                <md-content form-content>
                    <form name="form">
                       <div layout="row">
                            <div flex>
                                <md-list>
                                    <md-subheader class="md-no-sticky">Panel</md-subheader>
                                        <md-list-item  ng-repeat="(key, value) in model.panel" class="secondary-button-padding" ng-click="showUserEvents()">
                                            <p>{{$index+1}}-{{value.name}}</p>
                                        </md-list-item>
                                </md-list>
                            </div>
                            <div flex>
                                <md-list>
                                    <md-subheader class="md-no-sticky">Postulantes</md-subheader>
                                        <md-list-item  ng-repeat="(key, value) in model.postulante" class="secondary-button-padding" ng-click="showUserEvents()">
                                            <p>{{$index+1}}-{{value.name}}</p>
                                        </md-list-item>
                                </md-list>
                            </div>
                            <div flex>
                                <md-list>
                                    <md-subheader class="md-no-sticky">Sobrecupo</md-subheader>
                                        <md-list-item  ng-repeat="(key, value) in model.sobrecupo" class="secondary-button-padding" ng-click="showUserEvents()">
                                            <p>{{$index+1}}-{{value.name}}</p>
                                        </md-list-item>
                                </md-list>
                            </div>
                        </div>
                    </form>
                </md-content>
            </event-body>

      
        </event-content>

    </div>

</gale-page>
