/* 
    SASS Mixins
*/
/*------------------------- 
VIEW:   Events Module
ROUTE:  /app/events/*
-------------------------*/
.emisor {
  /*------------------------- 
  VIEW:   View Section
  ROUTE:  /app/events/view/*
  -------------------------*/ }
  .emisor.view {
    /*------------------------- 
    VIEW:   Index Page
    ROUTE:  /app/events/view/index
    -------------------------*/ }

  .emisor.transmission {
    /*------------------------- 
    VIEW:   Create Event Page
    ROUTE:  /app/events/create/step-1
    -------------------------*/
    /*------------------------- 
    VIEW:   Resume Event Page
    ROUTE:  /app/events/create/step-2
    -------------------------*/ }
    .emisor.transmission.online {
      height: 100%;
      width: 100%;
      max-height: 100%;
      max-width: 100%;
      position: absolute;
      top: 0%;
      left: 0%;
      border-radius: 0;
      box-shadow: none; }
      .emisor.transmission.online div.column {
        position: absolute;
        top: 64px;
        z-index: 2;
        left: 23%;
        right: 3%;
        display: block; }
        .emisor.transmission.online div.column > event-content {
          background-color: #FFF;
          border-radius: 4px;
          display: block; }
          .emisor.transmission.online div.column > event-content.show-settings {
            margin-bottom: 40px; }
          .emisor.transmission.online div.column > event-content > flex-loading {
            min-height: 300px; }
          .emisor.transmission.online div.column > event-content > event-header {
            display: block; }
            .emisor.transmission.online div.column > event-content > event-header > div {
              border-bottom: 1px solid #F5F5F5; }
              .emisor.transmission.online div.column > event-content > event-header > div > h1 {
                padding: 13px 0px 15px 16px;
                margin: 0px;
                font-size: 1.8em;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap; }
                .emisor.transmission.online div.column > event-content > event-header > div > h1 > span {
                  font-weight: normal;
                  font-size: 0.8em; }
                  .emisor.transmission.online div.column > event-content > event-header > div > h1 > span > md-icon {
                    margin-top: -2px;
                    padding-left: 8px;
                    margin-right: -6px; }
          .emisor.transmission.online div.column > event-content > event-body {
            display: block;
            padding: 8px 16px; }
            .emisor.transmission.online div.column > event-content > event-body md-input-container {
              margin-bottom: 0px; }
              .emisor.transmission.online div.column > event-content > event-body md-input-container > textarea {
                height: 93px; }
          .emisor.transmission.online div.column > event-content > event-tags {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            margin: 0px 0px;
            padding: 16px; }
            .emisor.transmission.online div.column > event-content > event-tags md-chip {
              background-color: #E91E63;
              color: #FFF; }
              .emisor.transmission.online div.column > event-content > event-tags md-chip md-icon {
                color: #FFF; }
          .emisor.transmission.online div.column > event-content > event-advanced-settings {
            display: block;
            padding: 12px 16px 16px 12px;
            margin-top: 10px;
            border-left: 4px solid #FF4081; }
            .emisor.transmission.online div.column > event-content > event-advanced-settings > h2 {
              margin: 8px 0px;
              font-size: 0.9em;
              font-weight: normal; }
              .emisor.transmission.online div.column > event-content > event-advanced-settings > md-content > button.linkedin {
              background-color: #0083be; }
            .emisor.transmission.online div.column > event-content > event-advanced-settings i {
              font-size: 0.85em;
              margin-left: 4px; }
            .emisor.transmission.online div.column > event-content > event-advanced-settings.ng-hide-add {
              animation: 0.5s fadeIn ease; }
            .emisor.transmission.online div.column > event-content > event-advanced-settings.ng-hide-remove {
              animation: 0.5s fadeOut ease; }
          .emisor.transmission.online div.column > event-content > event-actions {
            background: #F3F3F3;
            display: block;
            padding: 12px 8px;
            text-align: right; }
            .emisor.transmission.online div.column > event-content > event-actions > button.settings {
              float: left; }
              .emisor.transmission.online div.column > event-content > event-actions > button.settings > span {
                text-transform: none;
                font-weight: normal; }
      .emisor.transmission.online event-avatar {
        display: block;
        position: absolute;
        z-index: 2;
        top: 84px;
        left: 1%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
        width: 21%;
        -webkit-flex-basis: 40%;
        -moz-flex-basis: 40%;
        -ms-flex-preferred-size: 40%;
        flex-basis: 40%; }
        .emisor.transmission.online event-avatar div.marker {
          width: 7em;
          height: 7em; }
          .emisor.transmission.online event-avatar div.marker > div.halo {
            box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.14), 0 2px 2px -2px rgba(0, 0, 0, 0.12);
            background-color: #FFF;
            border-radius: 50%;
            border: 1px solid #FFF;
            width: 100%;
            height: 100%;
            padding: 3%; }
            .emisor.transmission.online event-avatar div.marker > div.halo > div {
              border-radius: 50%;
              overflow: hidden;
              height: 100%;
              width: 100%;
              background: #3F51B5; }
              .emisor.transmission.online event-avatar div.marker > div.halo > div > img {
                width: 100%; }
        .emisor.transmission.online event-avatar div.name {
          text-align: center;
          color: #fff;
          font-size: 1.4em;
          padding: 12px 8px 16px 8px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          width: 100%; }
        .emisor.transmission.online event-avatar div.date {
          width: 100%;
          margin-top: 0px;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          border-radius: 4px;
          outline: none;
          cursor: pointer; }
          .emisor.transmission.online event-avatar div.date > div {
            padding: 16px 0px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            -moz-align-items: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            -moz-justify-content: center;
            justify-content: center;
            outline: none; }
            .emisor.transmission.online event-avatar div.date > div.day {
              height: 35px;
              color: #fff;
              font-size: 1.3em;
              background-color: rgba(0, 0, 0, 0.2);
              text-transform: capitalize; }
            .emisor.transmission.online event-avatar div.date > div > div {
              display: -webkit-box;
              display: -webkit-flex;
              display: -moz-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              -webkit-align-items: center;
              -moz-align-items: center;
              align-items: center;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              -webkit-justify-content: center;
              -moz-justify-content: center;
              justify-content: center;
              -webkit-box-direction: normal;
              -webkit-box-orient: vertical;
              -webkit-flex-direction: column;
              -moz-flex-direction: column;
              -ms-flex-direction: column;
              flex-direction: column;
              color: #FFF;
              text-transform: uppercase; }
              .emisor.transmission.online event-avatar div.date > div > div.month {
                font-size: 1.3em; }
              .emisor.transmission.online event-avatar div.date > div > div.year {
                font-size: 1.3em; }
              .emisor.transmission.online event-avatar div.date > div > div.day {
                font-size: 5em; }
                .emisor.transmission.online event-avatar div.date > div > div.day > div > video{
                    width: 100%; }

/*# sourceMappingURL=events.css.map */
