<md-dialog aria-label="dd" class="events details view index">
    <md-progress-linear md-mode="indeterminate" class="md-accent" ng-if="!model.data">
    </md-progress-linear>

    <md-dialog-content>

        <!-- AVATAR -->
        <dialog-avatar>
            <div class="marker">
                <div class="halo">
                    <div>
                        <img src="bundles/mocks/avatar_1.png" />
                    </div>
                </div>
            </div>
            <div class="name">
                Jorge Luis Gonzalez
            </div>

            <!-- DATE PICKER -->
            <div class="md-primary background date" layout="column" >

                <div class="day" flex="initial">
                    {{model.event.date | amDateFormat: 'YYYY'}}

                </div>

                <div flex layout="column" layout-align="center center" layout-fill>
                    <div class="month">
                        {{model.event.date | amDateFormat: 'dddd'}}
                    </div>
                    <div class="day">
                        {{model.event.date | amDateFormat: 'D'}}
                    </div>
                    <div class="year">
                        {{model.event.date | amDateFormat: 'MMMM'}}
                    </div>
                </div>

            </div>
        </dialog-avatar>

        <!-- WHITE BOX -->
        <dialog-content>
                <event-header layout="row">
                    <div flex>
                        <h1 class="md-primary text">
                           {{items.name}}
                        </h1>
                        <h2 class="md-primary text">
                          {{model.event.date | amDateFormat: 'D-M-YYYY'}} : 16:00 horas
                        </h2>
                    </div>
                     <md-button class="md-icon-button" ng-click="cancel()">
                          <md-icon md-svg-src="bundles/material-icons/svg/icons/ic_close.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </event-header>
                        <div layout="row">
                            <div flex>
                                <nvd3-pie-chart
                                    data="exampleData"
                                    id="colorExample"
                                    width="550"
                                    height="350"
                                    x="xFunction()"
                                    y="yFunction()"
                                    showLegend="true"
                                    showLabels="true">
                                    <svg height="250"></svg>
                                </nvd3-pie-chart>
                            </div>
                            <div flex>
                                <md-list>
                                    <md-subheader class="md-no-sticky">Detalle</md-subheader>
                                        <md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
                                            <p>Total Prospectos</p>
                                            <p>70/100</p>
                                        </md-list-item>
                                        <md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
                                            <p>Nombre del Emisor</p>
                                            <p>Jose Miguel Perez</p>
                                        </md-list-item>
                                        <md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
                                            <p>Cantidad de eventos del emisor</p>
                                            <p>12</p>
                                        </md-list-item>
                                        <md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
                                            <p>Dinero ganado</p>
                                            <p>$3.500.000</p>
                                        </md-list-item>
                                </md-list>
                            </div>
                        </div>
        </dialog-content>

    </md-dialog-content>

</md-dialog>
