<gale-page class="admin panel" layout-fill>
    <!-- MAIN TOOLBAR -->
    <md-toolbar class="md-whiteframe-z1 md-tall">
        <div class="md-toolbar-tools">
            <span flex></span>
        </div>
    </md-toolbar>


    <!-- WHITE BOX -->
    <div class="column">
        <admin-content class="md-whiteframe-z2">

            <admin-header>
                <div>
                    <h1 class="md-primary text">
                        <span>Configuracion</span>
                        <span> > <strong>Invitaciones para usuarios a ser callcenter</strong></span>
                        <md-button class="md-icon-button" ng-click="cancel()" style="float:right;">
                            <md-icon md-svg-src="bundles/material-icons/svg/icons/ic_close.svg" aria-label="Close dialog"></md-icon>
                        </md-button>
                    </h1>
                </div>
            </admin-header>
            <center>
                <admin-header layout="row">
                            <div flex>
                                <h2 class="md-primary text">
                                   <span>{{model.event.Nombre}}</span>
                                   <span><strong>{{model.event.FechaInicio | amDateFormat: 'D-M-YYYY hh:mm:ss'}}</strong> horas</span>
                                </h2>
                            </div>
                </admin-header>
            </center>
            <admin-body>

                <md-content form-content>

                        <div layout="row">
                            <div flex> 
                                <center>
                                    <span>Invitar mediante redes sociales</span>
                                </center>
                            </div>
                            <div flex></div>
                        </div>
                        <div layout="row">
                            <div flex>  
                                 <md-input-container class="md-block" flex>
                                    <button class="md-primary md-raised facebook md-button md-ink-ripple" type="button" aria-label="Identificar con Facebook">
                                    <md-icon md-svg-icon="bundles/app/components/security/external-authenticators/css/svg/facebook.svg"></md-icon>
                                    <span class="ng-scope">Invitacion mediante facebook</span>
                                    </button>
                                    <button class="md-primary md-raised linkedin md-button md-ink-ripple" type="button" aria-label="Identificar con Facebook">
                                        <md-icon md-svg-icon="bundles/app/components/security/external-authenticators/css/svg/linkedin.svg"></md-icon>
                                        <span class="ng-scope">Invitacion mediante Linkedin</span>
                                    </button>
                                </md-input-container>
                            </div>
                            <div flex>
                              <md-autocomplete
                                   md-delay="0" 
                                     placeholder="Buscar Usuarios CallCenters" 
                                     md-min-length="2" 
                                     md-selected-item="model.selectedItem" 
                                     md-search-text="model.searchText" 
                                     md-items="item in queryTags(model.searchText)" 
                                     md-item-text="item.nombre"
                                     md-selected-item-change="addCallcenter(model.selectedItem)">
                                <md-item-template>
                                  <span md-highlight-text="model.searchText" md-highlight-flags="^i">{{item.nombre}}</span>
                                </md-item-template>
                                <md-not-found>
                                  No states matching "{{searchText}}" were found.
                                </md-not-found>
                              </md-autocomplete>

                            </div>
                        </div>
                        <div layout="row">
                            <div flex>
                                <md-list>
                                    <md-subheader class="md-no-sticky">Mis Actuales Usuarios CallCenter</md-subheader>
                                        <md-list-item class="secondary-button-padding" ng-repeat="item in model.event.callcenters" ng-click="deleteCallCenter(item, $index)">
                                            <p>{{item.nombre}}</p>
                                            <md-icon md-svg-src="bundles/material-icons/svg/icons/ic_close.svg" aria-label="Eliminar Usuario"></md-icon>
                                        </md-list-item>
                                </md-list>
                            </div>
                            <div flex>
                                <md-list>
                                    <md-subheader class="md-no-sticky">Mis Nuevos Usuarios CallCenter</md-subheader>
                                        <md-list-item class="secondary-button-padding" ng-repeat="item in model_modal.callcenters" ng-click="showUserEvents()">
                                            <p>{{item.nombre}}</p>
                                            <md-icon md-svg-src="bundles/material-icons/svg/icons/ic_close.svg" aria-label="Eliminar Usuario"></md-icon>
                                        </md-list-item>
                                </md-list>
                            </div>
                        </div>
                        <div layout="row">
                            <span flex> </span>
                            <div flex>
                                <button class="md-primary md-raised md-button md-ink-ripple" type="button" ng-click="save()">
                                    <span class="ng-scope">Agregar nuevos call centers</span>
                                </button>
                            </div>
                        </div>
                </md-content>
            </admin-body>
        </admin-content>

    </div>

</gale-page>
