<gale-page class="events create step-1" layout-fill>
    <!-- MAIN TOOLBAR -->
    <md-toolbar class="md-whiteframe-z1 md-tall">
        <div class="md-toolbar-tools">
            <h2>
                <span>{{config.application.name}}</span>
            </h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <flex-loading ng-if="created" title="Creando nuevo evento" legend="Cargando configuración..."></flex-loading>

    <div ng-if="!created">
            
             <!-- AVATAR -->
            <event-avatar>
                <div class="marker">
                    <div class="halo">
                        <div>
                            <img src="bundles/mocks/avatar_1.png" />
                        </div>
                    </div>
                </div>

                <!-- DATE PICKER -->
                <div ng-if="model.event.fechaInicio" ng-click="showCalendar($event, model.event.fechaInicio);" class="md-primary background date" layout="column">

                    <div class="day" flex="initial">
                        {{model.event.fechaInicio | amDateFormat: 'YYYY'}}
                    </div>

                    <div flex layout="column" layout-align="center center" layout-fill>
                        <div class="month">
                            {{model.event.fechaInicio | amDateFormat: 'dddd'}}
                        </div>
                        <div class="day">
                            {{model.event.fechaInicio | amDateFormat: 'D'}}
                        </div>
                        <div class="year">
                            {{model.event.fechaInicio | amDateFormat: 'MMMM'}}
                        </div>
                    </div>

                </div>
            </event-avatar>

            <!-- WHITE BOX -->
            <div class="column">
                <event-content class="md-whiteframe-z2">

                    <event-header>
                        <div>
                            <h1 class="md-primary text">
                                <span>Nuevo Evento</span>
                                <span ng-if="model.event.nombre">> <strong>{{model.event.nombre}}</strong></span>
                            </h1>
                        </div>
                    </event-header>

                    <event-body>
                        <md-content form-content>
                            <form name="form">
                                <!-- FORM DATA -->
                                <div layout="row">
                                    <md-input-container class="md-block" flex>
                                        <label>Nombre del evento</label>
                                        <input required md-maxlength="50" maxlength="50" ng-model="model.event.nombre">
                                    </md-input-container>
                                </div>

                                <div layout="row">
                                    <md-input-container class="md-block" flex>
                                        <label>Fecha Inicio</label>
                                        <gale-datepicker required ng-model="model.event.fechaInicio"></gale-datepicker>
                                    </md-input-container>

                                    <div flex="5"></div>

                                    <md-input-container class="md-block" flex>
                                        <label>Fecha Termino</label>
                                        <gale-datepicker required ng-model="model.event.fechaTermino"></gale-datepicker>
                                    </md-input-container>
                                </div>

                                <div layout="row">
                                    <md-input-container class="md-block" flex>
                                        <label>Cantidad de cupos necesarios</label>
                                        <input required ng-change="calcule();" required md-maxlength="3" maxlength="3" ng-model="model.event.cupo">
                                    </md-input-container>
                                    <md-input-container class="md-block" flex>
                                        <label>Sobrecupo Automatico 25%</label>
                                        <input disabled ng-model="model.event.sobrecupo">
                                    </md-input-container>
                                    <md-input-container class="md-block" flex>
                                        <label>Costo $</label>
                                        <input disabled ng-model="model.event.costo">
                                    </md-input-container>
                                </div>

                                <div layout="row">
                                    <md-input-container class="md-block" flex>
                                        <label>Descripción</label>
                                        <textarea required rows="2" md-maxlength="500" maxlength="500" ng-model="model.event.descripcion"></textarea>
                                    </md-input-container>
                                </div>
                            </form>
                        </md-content>
                    </event-body>
                    <event-tags>
                        <md-chips flex md-separator-keys="model.tags.electricChars" ng-model="model.event.filtros" md-on-remove="find(model.tags.items);" md-on-add="find(model.tags.items);" md-separator-keys="" md-autocomplete-snap md-transform-chip="setOrRegister($chip)" md-require-match="false">
                            <md-autocomplete md-delay="0" placeholder="Filtros de mi evento" md-min-length="2" md-selected-item="model.selectedItem" md-search-text="model.searchText" md-items="item in queryTags(model.searchText)" md-item-text="item.nombre">
                                <span md-highlight-text="model.searchText">{{item.nombre}}</span>
                            </md-autocomplete>
                            <md-chip-template>
                                <span>
                                    <strong>{{$chip.nombre}}</strong>
                                </span>
                            </md-chip-template>
                        </md-chips>
                    </event-tags>

                    <event-actions>
                        <md-input-container class="md-block" flex>
                            <button class="md-warn md-raised md-button md-ink-ripple" type="button">
                                <span class="ng-scope">Cancelar</span>
                            </button>
                            <button class="md-primary md-raised md-button md-ink-ripple" type="button" ng-click="create()" ng-disabled="!form.$valid">
                                <span class="ng-scope">Crear Evento</span>
                            </button>
                        </md-input-container>
                    </event-actions>
                </event-content>

            </div>

        </div>

</gale-page>
