ion-view.security {
/*-------------------------
VIEW:   Route View List
ROUTE:  /app/routes/list
-------------------------*/ }
ion-view.security.login {
background-image: url(images/backgrounds/background-1.jpg);
background-size: 100%; }
ion-view.security.login div.title {
font-size: 3em;
padding-top: 2em;
text-align: center;
line-height: 1em; }
ion-view.security.login div.legend {
font-size: 1em;
opacity: 0.8;
text-align: center;
line-height: 2em; }
ion-view.security.login div.buttons {
position: fixed;
bottom: 2.5em;
right: 0.7em;
left: 0.7em; }
ion-view.security.login div.buttons > button {
border: none;
border-radius: 4px;
color: #fff;
text-align: left; }
ion-view.security.login div.buttons > button > i {
padding-left: 20px;
padding-right: 20px; }
ion-view.security.login div.buttons > button > span {
font-size: 0.8em;
text-transform: uppercase; }
ion-view.security.login div.buttons > button.facebook {
background-color: #3B5998; }
ion-view.security.login div.buttons > button.google {
background-color: #057bb5;; }
ion-view.security.login div.buttons > button.google > i {
  padding-right: 18px; }
ion-view.security.login div.buttons > div.register {
text-align: center; }
ion-view.security.login div.buttons > div.register > a {
text-decoration: underline;
padding: 0.7em 0em; }

/*# sourceMappingURL=security.css.map */
