<md-dialog aria-label="dd" class="events details view index">
    <md-dialog-content>
        <!-- WHITE BOX -->
        <dialog-content>
                <event-header layout="row">
                    <div flex>
                        <h2 class="md-primary text">
                            <center>
                                Tipos de filtros disponibles
                            </center>
                            <md-button class="md-icon-button" ng-click="cancel()" style="float:right;">
                                <md-icon md-svg-src="bundles/material-icons/svg/icons/ic_close.svg" aria-label="Close dialog"></md-icon>
                            </md-button>
                        </h2>
                    </div>
                </event-header>
                <div layout="row">
                    <div flex>
                        <md-list>
                            <md-subheader class="md-no-sticky">Categorias</md-subheader>
                                <md-list-item class="secondary-button-padding">
                                    <md-chips ng-model="model.categories" readonly="false"></md-chips>
                                </md-list-item>
                        </md-list>
                        <md-list>
                            <md-subheader class="md-no-sticky">Genero</md-subheader>
                                <md-list-item class="secondary-button-padding">
                                    <md-chips ng-model="model.gender" readonly="false"></md-chips>
                                </md-list-item>
                        </md-list>
                        <md-list>
                            <md-subheader class="md-no-sticky">Paises</md-subheader>
                                <md-list-item class="secondary-button-padding">
                                    <md-chips ng-model="model.country" readonly="false"></md-chips>
                                </md-list-item>
                        </md-list>    
                    </div>
                </div>
        </dialog-content>

    </md-dialog-content>

</md-dialog>
