<ion-side-menus>
  <ion-side-menu-content>
    <!-- HEADER -->
    <!-- CONTENT -->
    <div ui-view></div>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <!-- MENU CONTENT -->
    <ion-content>
      <center class="profile-bubble">
        <div class="marker">
          <div class="halo">
            <div>
              <img ng-src="css/image/mcfly.jpg"/>
            </div>
          </div>
        </div>
        <div class="label">
          Bienvenido
        </div>
      </center>
      <br/>
      <ion-list>
        <ion-item menu-toggle="left" nav-clear ng-class="{'active': item.active}" ng-click="navigateTo(item)" ng-repeat="item in config.menu">
          <span>{{item.label}}</span>
          <i class="icon {{item.icon}} right"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
