<gale-page class="admin panel" layout-fill>
    <!-- MAIN TOOLBAR -->
    <md-toolbar class="md-whiteframe-z1 md-tall">
        <div class="md-toolbar-tools">
            <h2>
                <span>{{config.application.name}}</span>
            </h2>
            <span flex></span>
        </div>
    </md-toolbar>


    <!-- WHITE BOX -->
    <div class="column">
        <admin-content class="md-whiteframe-z2">
            <admin-header>
                <div>
                    <h1 class="md-primary text">
                        <span>Panel de administracion</span>
                        <span> > <strong>Callcenter</strong></span>
                        <md-button class="md-raised md-primary" ng-click="showOtherEvents()" style="float: right;">
                            Ver mis otros eventos
                        </md-button>
                    </h1>
                </div>
            </admin-header>
            <center>
                <admin-header layout="row">
                            <div flex>
                                <h2 class="md-primary text">
                                   <span>Ingeneria en minas un universo nuevo</span>
                                   <span> Fecha : <strong>{{model.event.date | amDateFormat: 'D-M-YYYY'}} : 16:00</strong> horas</span>
                                </h2>
                            </div>
                </admin-header>
            </center>
            <admin-body>

                <md-content form-content>

                    <form name="form">
                        <div layout="row">
                            <div flex>  
                                <center>
                                    <md-button class="md-raised md-primary" ng-click="details()">
                                        Revisar detalle
                                    </md-button>
                                </center>
                                <nvd3-pie-chart
                                        data="exampleData"
                                        id="colorExample"
                                        width="550"
                                        height="350"
                                        x="xFunction()"
                                        y="yFunction()"
                                        showLegend="true"
                                        showLabels="true">
                                        <svg height="250"></svg>
                                    </nvd3-pie-chart>
                            </div>
                            <div flex>
                                <md-list>
                                    <md-subheader class="md-no-sticky">Detalle</md-subheader>
                                        <md-list-item>
                                            <p>Avance del Panel</p>
                                            <p>70/100</p>
                                        </md-list-item>
                                        <md-list-item>
                                            <p>Cupos Maximos del panel</p>
                                            <p>100</p>
                                        </md-list-item>
                                        <md-list-item>
                                            <p>Sobre cupo</p>
                                            <p>25</p>
                                        </md-list-item>
                                </md-list>
                            </div>
                            <div flex>  
                                <md-list>
                                    <md-subheader class="md-no-sticky">Postulates</md-subheader>
                                        <md-list-item class="secondary-button-padding"  ng-click="showUserEvents()">
                                            <p>Jose Ortega Villareal</p>
                                            <p>Ver detalle</p>
                                        </md-list-item>
                                        <md-list-item class="secondary-button-padding"  ng-click="showUserEvents()">
                                            <p>Jose Ortega Villareal</p>
                                            <p>Ver detalle</p>
                                        </md-list-item>
                                        <md-list-item class="secondary-button-padding"  ng-click="showUserEvents()">
                                            <p>Jose Ortega Villareal</p>
                                            <p>Ver detalle</p>
                                        </md-list-item>
                                        <md-list-item class="secondary-button-padding"  ng-click="showUserEvents()">
                                            <p>Jose Ortega Villareal</p>
                                            <p>Ver detalle</p>
                                        </md-list-item>
                                </md-list>
                                <md-button class="md-raised md-primary">
                                        Ver todos
                                </md-button>
                            </div>
                        </div>
                    </form>
                </md-content>
            </admin-body>
        </admin-content>

    </div>

</gale-page>
