<gale-page class="events create step-1" layout-fill>
    <!-- MAIN TOOLBAR -->
    <md-toolbar class="md-whiteframe-z1 md-tall">
        <div class="md-toolbar-tools">
            <h2>
                <span>{{config.application.name}}</span>
            </h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <flex-loading ng-if="updated" title="Actualizando evento" legend="Espere un segundo..."></flex-loading>
    <!-- AVATAR -->
    <div ng-if="!updated">
        <event-avatar>
            <div class="marker">
                <div class="halo">
                    <div>
                        <img src="bundles/mocks/avatar_1.png" />
                    </div>
                </div>
            </div>

            <!-- DATE PICKER -->
            <div ng-if="model.event.FechaInicio" ng-click="showCalendar($event, model.event.FechaInicio);" class="md-primary background date" layout="column">

                <div class="day" flex="initial">
                    {{model.event.FechaInicio | amDateFormat: 'YYYY'}}
                </div>

                <div flex layout="column" layout-align="center center" layout-fill>
                    <div class="month">
                        {{model.event.FechaInicio | amDateFormat: 'dddd'}}
                    </div>
                    <div class="day">
                        {{model.event.FechaInicio | amDateFormat: 'D'}}
                    </div>
                    <div class="year">
                        {{model.event.FechaInicio | amDateFormat: 'MMMM'}}
                    </div>
                </div>

            </div>
        </event-avatar>

        <!-- WHITE BOX -->
        <div class="column">
            <event-content class="md-whiteframe-z2">

                <event-header>
                    <div>
                        <h1 class="md-primary text">
                            <span>Evento </span>
                            <span>> <strong>{{model.event.Nombre}}</strong></span>
                            <md-button class="md-raised md-primary" ng-click="showAddCallcenter()" style="float: right;">
                                Agregar call centers
                            </md-button>
                            <md-button class="md-raised md-primary" ng-click="showInvitePanel()" style="float: right;">
                                Invitar al panel
                            </md-button>
                        </h1>
                    </div>
                </event-header>

                <event-body>
                    <md-content form-content>
                        <form>
                            <div layout="row">
                                <md-input-container class="md-block" flex>
                                    <label>Cupo Solicitado</label>
                                    <input disabled ng-model="model.event.Cupo">
                                </md-input-container>

                                <div flex="5"></div>

                                <md-input-container class="md-block" flex>
                                    <label>Sobrecupo Automatico 25%</label>
                                    <input disabled ng-model="model.event.SobreCupo">
                                </md-input-container>
                                <md-input-container class="md-block" flex>
                                    <label>Costo $</label>
                                    <input disabled ng-model="model.event.Costo">
                                </md-input-container>   
                                <md-input-container class="md-block" flex>
                                     <md-button class="md-raised md-warn" ng-click="payment()">
                                        Pagar Evento
                                    </md-button>
                                </md-input-container>                     
                            </div>
                        </form>
                    </md-content>
                    <md-content form-content>
                        <form name="form">
                            <!-- FORM DATA -->
                            <div layout="row">
                                <md-input-container class="md-block" flex>
                                    <label>Nombre del evento</label>
                                    <input required md-maxlength="50" maxlength="50" ng-model="model.event.Nombre">
                                </md-input-container>
                            </div>

                            <div layout="row">
                                <md-input-container class="md-block" flex>
                                    <label>Fecha Inicio</label>
                                    <gale-datepicker disabled required ng-model="model.event.FechaInicio"></gale-datepicker>
                                </md-input-container>

                                <div flex="5"></div>

                                <md-input-container class="md-block" flex>
                                    <label>Fecha Termino</label>
                                    <gale-datepicker disabled required ng-model="model.event.FechaTermino"></gale-datepicker>
                                </md-input-container>                        
                            </div>

                            <div layout="row">
                                <md-input-container class="md-block" flex>
                                    <label>Descripción</label>
                                    <textarea required rows="2" md-maxlength="500" maxlength="500" ng-model="model.event.Descripcion"></textarea>
                                </md-input-container>
                            </div>
                            <div layout="row">
                                <md-switch ng-model="model.event.Tipo" aria-label="Aprobation" class="md-accent text">
                                    Tipo evento <span ng-if="model.event.Tipo">Abierto</span><span ng-if="!model.event.Tipo">Cerrado</span>
                                </md-switch>
                                <md-switch ng-model="model.event.Activo" aria-label="Aprobation" class="md-accent text">
                                    Estado del evento <span ng-if="model.event.Activo">Activo</span><span ng-if="!model.event.Activo">Inactivo</span>
                                </md-switch>
                            </div>
                        </form>
                    </md-content>
                </event-body>
                <event-tags>
                        <md-chips flex md-separator-keys="model.tags.electricChars" ng-model="model.event.filtros" md-on-remove="find(model.tags.items);" md-on-add="find(model.tags.items);" md-separator-keys="" md-autocomplete-snap md-transform-chip="setOrRegister($chip)" md-require-match="false">
                            <md-autocomplete md-delay="0" placeholder="Filtros de mi evento" md-min-length="2" md-selected-item="model.selectedItem" md-search-text="model.searchText" md-items="item in queryTags(model.searchText)" md-item-text="item.nombre">
                                <span md-highlight-text="model.searchText">{{item.nombre}}</span>
                            </md-autocomplete>
                            <md-chip-template>
                                <span>
                                    <strong>{{$chip.nombre}}</strong>
                                </span>
                            </md-chip-template>
                        </md-chips>
                </event-tags>
                    
                <event-actions>
                    <md-button class="md-raised md-primary" ng-click="save(model.event)">
                        Actualizar evento
                    </md-button>
                </event-actions>
            </event-content>

    </div>

</gale-page>
