<!-- SVG'S https://materialdesignicons.com/ -->
<md-button ng-disabled="!state.disabled" class="md-primary md-raised linkedin" ng-click="login('google')">
    <md-icon md-svg-icon="bundles/app/components/security/external-authenticators/css/svg/linkedin.svg"></md-icon>
    Identificar con Linkedin
</md-button>

<md-button ng-disabled="!state.disabled" class="md-primary md-raised facebook" ng-click="login('facebook')">
    <md-icon md-svg-icon="bundles/app/components/security/external-authenticators/css/svg/facebook.svg"></md-icon>
    Identificar con Facebook
</md-button>
