<gale-page class="admin panel" layout-fill>
    <!-- MAIN TOOLBAR -->
    <md-toolbar class="md-whiteframe-z1 md-tall">
        <div class="md-toolbar-tools">
            <h2>
                <span>{{config.application.name}}</span>
            </h2>
            <span flex></span>
        </div>
    </md-toolbar>


    <!-- WHITE BOX -->
    <div class="column">
        <admin-content class="md-whiteframe-z2">

            <admin-header>
                <div>
                    <h1 class="md-primary text">
                        <span>Panel de administracion</span>
                        <span> > <strong>Administrador general</strong></span>
                    </h1>
                </div>
            </admin-header>

            <admin-body>

                <md-content form-content>
                    <form name="form">
                        <!-- FORM DATA -->
                        <div layout="row">
                            <md-progress-linear ng-show="model.state" md-mode="indeterminate" class="md-accent"></md-progress-linear>
                        </div>
                        <div layout="row">
                            <md-input-container class="md-block" flex="30">
                               <md-button class="md-raised md-primary" ng-click="change_index(0, 'de Hoy')">
                                    Hoy
                                </md-button>
                                <md-button class="md-raised md-primary" ng-click="change_index(1, 'de Esta Semana')">
                                    Esta semana
                                </md-button>
                                <md-button class="md-raised md-primary" ng-click="change_index(2, 'de Este Mes')">
                                    Este mes
                                </md-button>
                                <md-button class="md-raised md-primary" ng-click="change_index(3, 'de Todo el sistema')">
                                    Todo
                                </md-button>
                            </md-input-container>

                            <md-input-container class="md-block" flex="10">
                                <label>Busqueda por fecha : </label>
                            </md-input-container>

                            <md-input-container class="md-block" flex="20">
                                <label>Desde </label>
                                <gale-datepicker required ng-model="model.date_init"></gale-datepicker>
                            </md-input-container>


                            <md-input-container class="md-block" flex="20">
                                <label>Hasta</label>
                                <gale-datepicker required ng-model="model.date_end"></gale-datepicker>
                            </md-input-container>

                            <md-input-container class="md-block" flex="20" ng-click="change_date()">
                               <md-button class="md-raised md-primary">
                                    Buscar
                                </md-button>
                            </md-input-container>

                        </div>

                        <div layout="row" flex></div>
                        <md-divider></md-divider>

                        <div layout="row">
                            <div flex>
                                <md-list>
                                    <md-subheader class="md-no-sticky">Informacion General <strong>{{model.when}}</strong></md-subheader>
                                        <md-list-item class="secondary-button-padding">
                                            <p><strong>Cantidad de eventos pagados</strong></p>
                                            <p>{{model.events[model.index].cantidad_eventos}}</p>
                                        </md-list-item>
                                        <md-list-item class="secondary-button-padding">
                                            <p><strong>Cantidad de dinero equivalente a eventos pagados</strong></p>
                                            <p>$ {{model.events[model.index].cantidad_dinero | number}}</p>
                                        </md-list-item>
                                        <md-list-item class="secondary-button-padding">
                                            <p><strong>Cantidad de eventos reservados</strong></p>
                                            <p>{{model.events[model.index].cantidad_eventos}}</p>
                                        </md-list-item>
                                        <md-list-item class="secondary-button-padding">
                                            <p><strong>Cantidad de dinero equivalente a eventos reservados</strong></p>
                                            <p>$ {{model.events[model.index].cantidad_dinero | number}}</p>
                                        </md-list-item>
                                        <md-list-item class="secondary-button-padding">
                                            <p><strong>Categoría mas usada</strong></p>
                                            <p>{{model.events[model.index].mas_ventas}}</p>
                                        </md-list-item>
                                        <md-list-item class="secondary-button-padding">
                                            <p><strong>Emisor con mas eventos</strong></p>
                                            <p>{{model.events[model.index].emisor_mas_eventos}}</p>
                                        </md-list-item>
                                </md-list>
                            </div>
                            <div flex>
                                <md-list>
                                    <md-subheader class="md-no-sticky">Proximos eventos</md-subheader>
                                        <md-list-item class="secondary-button-padding" ng-repeat="item in model.other_events" ng-click="showDetailsEvents($event, item)">
                                            <p>{{item.name}}</p>
                                            <md-button class="md-secondary" ng-click="showDetailsEvents()">Ver detalle</md-button>
                                        </md-list-item>
                                </md-list>
                            </div>
                        </div>
                    </form>
                </md-content>
            </admin-body>
        </admin-content>

    </div>

</gale-page>
