<ion-view class="security login">
    <flex-loading legend="{{legend}}" ng-if="!dashboard" title="{{title}}"></flex-loading>
    <!-- HEADER -->
    <div ng-if="dashboard">
      <ion-content>
            <div class="title">
                Demo Ingenio
            </div>
            <div class="legend">
                Aplicacion Streaming
            </div>
            <!-- BUTTON'S -->
            <div class="buttons">
                <!--<button class="button button-block facebook" ng-click="login()">
                    <i class="icon ion-social-facebook"></i>
                    <span>Ingresar con Facebook</span>
                </button>
                <button class="button button-block google" ng-click="login()">
                    <i class="icon ion-social-linkedin"></i>
                    <span>Ingresar con Linkedin</span>
                </button>-->
                <label class="item item-input">
                  <input ng-model="user.user_identity" type="text" placeholder="Ingresa tu identificador">
                </label>
                <button class="button button-block google" ng-click="login()">
                    <center>
                        <span>Ingresar</span>
                    </center>
                </button>
            </div>
    </ion-content>
  </div>
</ion-view>
